<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="example-card">
      <body style="text-align: right;">
      <mat-label>Balance {{defaultBalance}}</mat-label>
      </body>
      <mat-card-header>
      <mat-card-title>IBAN </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
        <mat-form-field class="example-full-width">
          <input matInput id="iban" name="iban" (change)="getIbanDetails(ibanNumber)" #iban="ngModel" ibanValidator placeholder="IBAN Number" [(ngModel)]="ibanNumber" [ngModelOptions]="{standalone: true}" required autocomplete="off">
            <mat-icon matSuffix *ngIf="iban?.errors?.required">help</mat-icon>
            <mat-icon matSuffix *ngIf="iban.invalid && (iban.dirty || iban.touched)">close</mat-icon>
            <mat-icon matSuffix *ngIf="iban.valid && (iban.dirty || iban.touched)">check</mat-icon>
        </mat-form-field>
      </p>
      <p>
        <span><img class="flag-size" [src]="getLink()"/>{{bankName}}</span>
        
      </p>
      <p>
        <mat-form-field>
          <mat-label>Amount</mat-label>
          <span matPrefix>AED</span>
          <input type="number" matInput [(ngModel)]="transferAmount" (change)="updatePie()" style="text-align: right;">
        </mat-form-field>
      </p>
      <p>
        <span style="display: block;">
          <canvas baseChart 
            [data]="pieChartData" 
            [labels]="pieChartLabels" 
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
          </canvas>
        </span>
      </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Cancel</button>
        <button mat-button (click)="transferMoneyToIban(transferAmount,ibanNumber)">Transfer</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>